*{
    margin: 0px;
    box-sizing: border-box;
}
body{
    padding: 0px;
    box-sizing: border-box;
    background: #dddddd;
    border: #dddddd solid;
    
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
header{
    padding-top: 40px;
    padding-bottom: 62px;
    background: white;
}
a{
    
    color: white;
}

#header1{
    background: #4aaaa5;
    position: fixed;
    font-size: 36px;
    color: white;
    margin-left: 344px;
    padding-bottom: 20px;

}
.links{  
    color: #777777;
    margin-left: 999px;
    position: fixed;
}
.btn{
    background: #4aaaa5;
    color: white;
}
.main-container{
    margin-left: 338px;
    border: rgba(0,0,0,.9);
    width: 960px;
    background: white;
    margin-right: -177px;
}
div.desc{
    padding: 15px;
    text-align: center;
    color: #777777;
}
#portfolio{
    color: #4aaaa5;
}
img{
    width: 227px;
    height: 203px;
}
div.gallery:hover {
    border: 1px solid #777777;
}
.responsive{
    padding: 0 6px;
    float: left;
    width: 24.99999%;


    

}
@media only screen and ( max-width: 500px) .responsive{
    width: 100%;
}
.clearfix: ::after{ 
    content: "";
    display: table;
    clear: both;
}