
/* General Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    font-family: arial, sans-serif;
    line-height: 1.4;
    color: #333;
    display:grid;
    grid-template-rows: 1fr auto;
    grid-template-areas:"main" "footer";
    overflow-x:hidden;
}
/*Utility Classes*/
.container {
    max-width: 1100px;
    margin: auto;

}

.text-primary{
    color: #3693ff;
}
.bg-light {
    background: #f4f4f4;
    color: #333;
}
.bg-dark {
    background:#333 ;
    color: #fff;
}
/* Nav Bar */

#navbar {
    display: flex;
    justify-content: space-between;
    background: #333;
    color: #fff;
    padding: 1.5rem 8rem;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 3px,solid,#3693ff;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar h2 a{
    color: #fff;
    text-decoration: none;

}

#navbar li a{
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    font-size: 1.3rem;
    margin: 0 0.5rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}
#navbar li a:hover {
    background-color: #3693ff;

}

/*Showcase Area*/

#showcase {
    background: url(../images/codingcomp.jpg) no-repeat center center/cover;
    height: 91.7vh;
}

.showcase-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 81px;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.6);
    color: white;
}

#showcase-content h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;

}

.showcase-content .btn {
    font-size: 1.5rem;
    padding: 0.5rem 10rem;
    transition: color 0.3s, background 0.3s;
   
}

.showcase-content .btn:hover {
    background: #3693ff;
    color:#fff;

}

.btn {
    color: #3693ff;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2rem;
    border: 1px solid #3693ff;
    border-radius: 10px;
    font-weight: bold;
}

/*Section: About*/

#about {
    padding: 5rem 0;
}

#about h2, #services h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
}

#about h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#about p.lead {
    margin-bottom: 1rem;

}

#about .about-content {
    display: flex;
}

#about .about-text,
#about .about-image {
    flex: 1;
}

#about .about-text{
    text-align: justify;
}

#about .about-image img {
    display: block;
    margin-left: auto;
    width: 75%;
    border-radius: 40%;
    margin-top: 60px;
}

/*Section: Resume  */

#services {
    padding: 5rem 0;
}

#services h3 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;

}
#services .boxes {
    display: inline;
}
#services .box {
    background: #fff ;
    flex: 1;
    padding: 3rem;
    margin: 0 3rem;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #d1d1d1;

}
#services .feature img{
    display: block;
    margin: auto;

}

/*Page: Portfolio*/
.portfolio {
  
    background: url(../images/codingcomp.jpg) no-repeat center center/cover;
}

#repo-container {
    padding: 30px;
    align-items: center;
    text-align: center;
}
.card {
    
    background: #fff ;
    /* flex: 1; */
    padding-right: 0rem;
    padding-bottom: 2rem;
    margin: 10px 20px 20px 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #d1d1d1;
    display: inline-block;
    
    /* align-items: center;
    justify-content: center;
    text-align: center; */
}
.card img {
    
    margin-bottom: 2rem;
    padding: 20px;
    width: 300px;
}

.btn-primary {
    color: #3693ff;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2rem;
    border: 1px solid #3693ff;
    border-radius: 10px;
    font-weight: bold;
}
.btn-primary:hover {
    background: #3693ff;
    color:#fff;
    transition: background-color 0.3s;
} 

/*Section: Contact*/

#contact {
    
    padding: 5rem 0;

}
#contact h2 {
    text-align: center;
    font-size:3rem;
    margin-bottom: 8rem;
}

#contact h3 {
    text-align: center;
    font-size: 2.5rem;
    margin: 3rem 0;
    margin-top: 5rem;
}

#contact .form-box {
    background: #fff;
    padding: 3rem;
    box-shadow: 2px 2px 5px #d1d1d1;
    border-radius:10px;
}

#contact .form-group {
    margin-bottom: 2rem;
}

#contact .form-group label {
    display: block;
    margin-bottom: 0.5rem ;
    width: 80%;
    margin-left: 10%;
    font-size: 1.1rem;


}

#contact .form-group input,
#contact .form-group textarea{
    width: 80%;
    margin-left: 10%;
    font-size:1.3rem ;
    padding:1rem;
    border: 0.5px solid #333;
    border-radius: 5px;
    
}

#contact .form-group textarea {
    font-family: Ariel, sans-serif;
}

#contact .contact-btn {
    width: 80%;
    margin: 10%;
    display: inline-block;
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    background:#3693ff;
    color: white;
    margin-bottom:2rem;
    cursor: pointer;
    transition: backgroud 0.3s ;

}

#contact .contact-btn:hover {
    background: #0378FF;
}

#contact .form-container {
    position: relative;
}

/* #contact .mail-icon {
    font-size: 4rem;
    background: #3693ff;
    color: #fff;
    display: inline-block;
    padding: 1.5rem 2rem;
    border-radius: 50%;
    /* position:absolute ; */
    /* top: -7%;
    left: 45%;
} */ 


body .footer {
    z-index: 1;
    --footer-background:rgb(49, 76, 228);
    display: grid;
    position: relative;
    /* grid-area: footer; */
    min-height: 12rem;
  }
  body .footer .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: var(--footer-background);
    -webkit-filter: url("#blob");
            filter: url("#blob");
  }
  body .footer .bubbles .bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--footer-background);
    border-radius: 100%;
    -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
            animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
  }
  body .footer .content {
    align-content: center;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 4rem;
    padding: 3rem;
    background: var(--footer-background);
  }
  body .footer .content a, body .footer .content p {
    text-align: center;
    color: #F5F7FA;
    text-decoration: none;
  }
  body .footer .content b {
    color: white;
  }
  body .footer .content p {
    margin: 0;
    font-size: .75rem;
  }
  body .footer .content > div {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
  }
  body .footer .content > div > div {
    margin: 0.25rem 0;
  }
  body .footer .content > div > div > * {
    margin-right: .5rem;
  }
  body .footer .content > div .image {
    align-self: center;
    width: 4rem;
    height: 4rem;
    margin: 0.25rem 0;
    background-size: cover;
    background-position: center;
  }
  
  @-webkit-keyframes bubble-size {
    0%, 75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
    }
    100% {
      width: 0rem;
      height: 0rem;
    }
  }
  
  @keyframes bubble-size {
    0%, 75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
    }
    100% {
      width: 0rem;
      height: 0rem;
    }
  }
  @-webkit-keyframes bubble-move {
    0% {
      bottom: -4rem;
    }
    100% {
      bottom: var(--distance, 10rem);
    }
  }
  @keyframes bubble-move {
    0% {
      bottom: -4rem;
    }
    100% {
      bottom: var(--distance, 10rem);
    }
  }
  

@media screen and (max-width: 800px){
    .container {
        width: 100%;
    }
    .nav-item {
        float: left;
        width: 100%;
    }
}
