*{
    margin: 0px;
    box-sizing: border-box;
}
/* for tablets: */

@media only screen and (max-width:800px){
    body {
        width: 80%;
        padding: 0;

    }
}

/* for mobile phones:*/

@media only screen and (max-width:500px){
    body{
        width: 40%;
        padding: 0;
    }
}
body{
    
    padding: 0px;
    box-sizing: border-box;
    background: #dddddd;
    border: #dddddd solid;
    
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
header{
    width: 1514px;
    border-bottom: #4aaaa5 solid 2px;
    padding-top: 40px;
    padding-bottom: 62px;
    background: white;
}
.btn{
    background:  #4aaaa5;
}
a{
    
    color: white;
}
.row{
    display: flex;
    
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -218px;
}

h1{
    position: fixed;
    font-size: 42px;
    background: #4aaaa5;
    color: white;
    margin-left: 296px;
    padding-bottom: 19px;

}
.links{ 
    color: #777777;
    margin-left: 265px;
    position: fixed;

}



.main-content{
    padding-right: 90px;
    left: 198px;
    max-width: 960px;
    margin-right: 27px;
    margin-left: 79px;
    margin-top: 0px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background: #ffffff;
    position: absolute;
    padding-top: 27px;
    padding-left: 4px;
}

.main-content h1{
    font-family: 'Georgia', Times, Times New Roman, serif;;
}

img{
    clear: left;
    float: left;
    position: inherit;
    width: 250px;
    margin-right: 20px;
    margin-left: 20px;
}

p{
    margin-top: 1px;
}

#about-me{
    font-size: 42px;
    border-bottom-width: 5px;
    border-bottom: #7777 solid 3px;
    margin-left: 24px;
    color: #4aaaa5;
    
}

footer{
    width: 1519px;
    border-top: #4aaaa5 solid 0px;
    margin-top: 620px;
    border-color: #4aaaa5;
    border-top-width: 6px;
    background: #666666;
    color: white;
    padding-top: 5px;
    text-align: center;
    margin-bottom: 0px;
}











